:root {
  --primary: #dc5151;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}

header {
  background-color: #EC3A49;
  text-align: center;
  color:var(--blanco);
  
}
header h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}